<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>Edit Blog</title>
    <style>
        /* style.css */
.edit-blog {
    max-width: 1000px;
    margin: 1.7rem auto;
    padding: 1rem;
    background-color: transparent;
    text-align: center;
}

.edit-blog h1 {
    font-size: 2.6rem;
    margin-bottom: 1rem;
    color: white;
}

.form-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

label {
    font-weight: 500;
    font-size: 22px ;
    color: goldenrod;
    margin-bottom: 20px;
}

input[type="text"],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: medium;
    border: 1px solid gold;
    color: burlywood;
    background: transparent;
    border-radius: 20px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
textarea:focus {
    outline: none;
    border-color: goldenrod;
}

.btn {
    display: inline-block;
    padding: 10px 40px;
    background-color: rgb(236, 176, 65);
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: orange;
    letter-spacing: 0.3rem;
}

    </style>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <section class="edit-blog">
            <h1>Edit Your Blog Here 👇</h1>
            <form action="/edit/<%= post.id %>" method="post">
                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" id="title" name="title" value="<%= post.title %>" required>
                </div>
                <div class="form-group">
                    <label for="content">Content:</label>
                    <textarea id="content" name="content" rows="10" required><%= post.content %></textarea>
                </div>
                <button type="submit" class="btn">Submit</button>
            </form>
        </section>
    </main>
</body>
</html>
